DnS[[:space:]]Auto/**/*.dll filter=lfs diff=lfs merge=lfs -text
DnS[[:space:]]Auto/**/*.pyd filter=lfs diff=lfs merge=lfs -text
DnS[[:space:]]Auto/**/*.onnx filter=lfs diff=lfs merge=lfs -text
DnS[[:space:]]Auto/**/*.zip filter=lfs diff=lfs merge=lfs -text
DnS[[:space:]]Auto/**/*.jpg filter=lfs diff=lfs merge=lfs -text
DnS[[:space:]]Auto/**/*.png filter=lfs diff=lfs merge=lfs -text
DnS[[:space:]]Auto/**/*.gif filter=lfs diff=lfs merge=lfs -text
DnS[[:space:]]Auto/**/*.eps filter=lfs diff=lfs merge=lfs -text
DnS[[:space:]]Auto/_internal/ocr_models/*.onnx -filter -diff -merge -text
